[user]
        name = nathancharles
        email = nathancookster@gmail.com
[github]
        username = nathancharles
        user = nathancharles
[credential]
        helper = cache --timeout 3600
[url "https://github.com/"]
        insteadOf = git://github.com/
[color]
        ui = auto
[color "branch"]
        current = yellow bold
        local = green bold
        remote = cyan bold
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
        whitespace = red reverse
[color "status"]
        added = green bold
        changed = yellow bold
        untracked = red bold
[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
        ll = log --pretty=format:'%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate --numstat
        st = status
        co = checkout
